body{
    background-color: grey;
}

#listaProdutos{
    list-style: none;
    padding: 0;
    margin-top: 20px;
    max-width: 400px;
}

#listaProdutos li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

#listaProdutos li button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

#listaProdutos li button:hover{
    transform: scale(1.2);
    transition: 0.2 ease-in-out
}

#valorTotal{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 20px;
}
